
:root {
  --animate-delay: 0.5s;
}

.herocontain{
  padding-bottom: 10vh;
}
 
@media screen and (max-width: 600px) {
  .carousel1{
    width : 100%;
  }
}
.borderglow
{
  animation: glow 2s infinite alternate;
}
@keyframes glow {
  0% {
      opacity: 1;
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.7), 0 0 20px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.7);
  }
  100% {
      opacity: 1;
      box-shadow: 0 0 10px rgba(255, 0, 255, 0.7), 0 0 20px rgba(255, 0, 255, 0.7), 0 0 30px rgba(255, 0, 255, 0.7), 0 0 40px rgba(255, 0, 255, 0.7);
  }
}
