.eventsname {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  color: white;
}

.card:hover {
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.7);
}
